@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins',sans-serif;
    font-size: 0.875rem;
}

.dropdown-toggle {
    transition-duration: 0.35s;
}

.table-hover {
    transition: all 0.35s ease-in-out;
}

